<%
  init_data = @todos.map do |todo|
    {
      id: todo.id,
      title: todo.title,
      status: todo.status,
      deadline: todo.deadline.present? ? todo.deadline.strftime("%Y/%m/%d") : nil
    }
  end
%>
<div id="vue-todo" data-init=<%= init_data.to_json %>>
  <div
    v-for="todo in todos"
    :key="`todo-${todo.id}`"
    class="flex flex-wrap justify-between py-2 text-xl border-t last:border-b border-gray-300"
  >
    <div class="w-6/12 pr-2" :class="{'line-through': todo.status === 'done'}">
      {{todo.title}}
    </div>
    <div class="w-4/12 pr-2">{{todo.deadline}}</div>
    <button type="button"
            v-show="todo.status === 'in_progress'"
            @click="changeToDone(todo)"
            class="inline-block w-2/12 text-sm border border-teal-300 hover:border-teal-500 rounded px-2 py-1"
            style="display: none;"
    >
      Done
    </button>
    <button type="button"
            v-show="todo.status === 'done'"
            @click="changeToInProgress(todo)"
            class="inline-block w-2/12 text-sm border border-orange-300 hover:border-orange-500 rounded px-2 py-1"
            style="display: none;"
    >
      Undo
    </button>
  </div>
</div>
