<div class="mx-2 lg:mx-0">
  <h1 class="text-2xl lg:text-4xl font-bold my-4 text-center">
    Rails+Vue.js Todo Sample
  </h1>

  <div class="my-4">
    <%= render 'form' %>
  </div>

  <div class="my-4">
    <%= render 'list' %>
  </div>
</div>